<header class="hero is-primary is-bold">
	<div class="hero-body">
		<div class="container">
			<h1 class="title">Val=n; Web Analyzer</h1>
			<h2 class="subtitle">Analyse web site information.</h2>
		</div>
	</div>
</header>
<main class="section">
	<div class="container">

		<form action="/crawl" method="post">
			<label class="subtitle"> Enter a Website url</label>
			<div class="field has-addons">
					<div class="control is-expanded">
				<input class="input" type="text" name="address" placeholder="http://example.com">
					</div>
					<div class="control">
				<input type="submit" value="Go" class="button is-info">
					</div>
				</div>
			</form>

	</div>
</main>
<footer class="footer">
	<div class="container">
	<div class="content has-text-centered">
		<p>
			<strong>
				Val=n; Web Analyzer
			</strong>
			by Val=n; group. All right reserved 2017.
		</p>
	</div>
	</div>
</footer>