<main class="section">
	<div class="container main-content">
		<script>
			$("#form")
		</script>
		<form action="/reiven/show-graph" enctype="multipart/form-data" method="post" id="form">
			<label class="subtitle"> Upload a log file</label>
			<div class="field">
				<div class="control">
					<a class="button" id="file-trigger" href="#">Upload Log File</a>
					<script>
						(function ($) {
							$("#file-trigger").on("click", function(){
								$("#theLogField").trigger("click");
							});
							setInterval(function(){
								var filename = $("#theLogField").val();
								if(filename){
									filename = filename.split(/\\|\\/);
									filename = filename[filename.length - 1];
									$(".filename").html("File selected:" + filename);
								}
							}, 500);
						})(jQuery);
					</script>

					<input class="is-hidden" type="file" name="thefile" id="theLogField">
					<input type="submit" value="Go" class="button is-info submit-button">
					<p class="filename"></p>
				</div>
				<div class="control">

				</div>
			</div>
		</form>
	</div>
</main>
