<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css" />
    <link rel='stylesheet' href='/stylesheets/nv.d3.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' /> </head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js" charset="utf-8"></script>
<script src="/js/nv.d3.js"></script>
<script src="/js/script.js"></script>
<body>
    <div id="wrap">
        <header class="hero is-primary is-bold">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">Val=n; Log Analyzer</h1>
                    <h2 class="subtitle">Analyse Log information.</h2> </div>
            </div>
        </header> {{{body}}}
        <footer class="footer">
            <div class="container">
                <div class="content has-text-centered">
                    <p> <strong>
						  Val=n; Web Analyzer
					  </strong> by Val=n; group. All right reserved 2017. </p>
                </div>
            </div>
        </footer>
    </div>

</body>

</html>
