
<!-- TODO: This is the place to test the nvd3 graph only use by reiven(Aki) -->

<main class="container" id="test-nvd3">
	<div class="columns">
		<div class="column first-column">
			<h2>Pie chart</h2>


		</div>
		<div class="column second-column">
			<h2>Bar chart</h2>
		</div>
	</div>
	<div class="columns">
		<div class="column third-column">
			<h2>line graph</h2>
		</div>
		<div class="column fourth-column">

		</div>
	</div>
</main>