body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#wrap{
  background-color: #FAFAFA;
  main{
    height:100%;
    .main-content{
      height:100%;
      display:flex;
      justify-content: center;
      align-items: center;
      #form{
        width:80%;
      }
    }
  }
}

.fade-in {
  opacity: 0;
  -webkit-animation: fadeIn 0.2s ease 0s 1 forwards;
  animation: fadeIn 0.2s ease 0s 1 forwards;
}

@-webkit-keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

$first: #F44336;
$second: #9C27B0;
$third: #3F51B5;
$fourth: #009688;

#test-nvd3{
  .first-column{
    background-color: $first;
  }
  .second-column{
    background-color: $second;
  }
  .third-column{
    background-color: $third;
  }
  .fourth-column{
    background-color: $fourth;
  }
}