body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#wrap{
  background-color: #FAFAFA;
  main{
    .main-content{
      height:100%;
      display:flex;
      justify-content: center;
      align-items: center;
      #form{
        width:80%;
      }
    }
    .column-main{
      height: 100%;
      overflow-y: scroll;
    }
  }
}

.fade-in {
  opacity: 0;
  -webkit-animation: fadeIn 0.2s ease 0s 1 forwards;
  animation: fadeIn 0.2s ease 0s 1 forwards;
}

@-webkit-keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

$first: #f4f4f4;
$second: #dcd0c0;
$third:  #dcd0c0;
$fourth: #f4f4f4;

#test-nvd3{
  .column{
    height:500px;
  }
  .first-column{
    background-color: $first;
  }
  .second-column{
    background-color: $second;
  }
  .third-column{
    background-color: $third;
  }
  .fourth-column{
    background-color: $fourth;
  }
}